/* css styles */

.quarto-title-block .quarto-title-banner {
  background-image: url(./LMU-OSC_logo_Twitter3.jpg)
  background-size: 50px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}